docker:
  version: "3.8"

  services:
    php-oop-exercice:
      container_name: php-oop-exercice
      build: .
      ports:
        - 8888:80
      depends_on:
        - php-oop-exercice-db
      environment:
        - DOCUMENT_ROOT=/var/www/html
      volumes:
        - ./api:/var/www/html/api

    php-oop-exercice-db:
      container_name: php-oop-exercice-db
      image: mysql:latest
      restart: unless-stopped
      environment:
        MYSQL_DATABASE: "blog"
        MYSQL_USER: "root"
        MYSQL_PASSWORD: "password"
        MYSQL_ROOT_PASSWORD: "password"
      ports:
        - 3308:3306
      volumes:
        - ./mysql:/var/lib/mysql
