<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige les requêtes /api/* vers /api/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/(.*)$ api/index.php [QSA,L]
</IfModule>
